@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

body {
    font-family: "Roboto", sans-serif; /* Replace 'Roboto' with your chosen font */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* In your Tailwind CSS configuration or in your styles.css file */
@layer utilities {
    .custom-mask {
        -webkit-mask-image: linear-gradient(
            #ffffff,
            #ffffff,
            rgba(255, 255, 255, 0)
        );
    }

    .bg-overlay {
        background: linear-gradient(
            180deg,
            rgba(45, 47, 49, 0) 0%,
            rgba(45, 47, 49, 0.9) 100%
        );
    }

    .w-200-calc {
        width: calc(100% - 200px);
    }

    .w-286-calc {
        width: calc(100% - 286px);
    }

    .h-290-calc {
        height: calc(100vh - 290px);
    }

    .h-56-calc {
        height: calc(100% - 56px);
    }

    .button-container {
        display: flex;
        align-items: center;
        color: white;
        gap: 1rem;
    }

    .button-container .emoji {
        position: relative;
    }

    .button-container .emoji svg {
        font-size: 1.5rem;
        color: #fff018c8;
        cursor: pointer;
    }

    .button-container .emoji .EmojiPickerReact {
        position: absolute;
        top: -473px;
        /* background-color: #080420; */
        /* box-shadow: 0 5px 10px #9a86f3; */
        /* border-color: #9a86f3; */
    }

    .button-container .emoji .EmojiPickerReact .epr-body::-webkit-scrollbar {
        background-color: #080420;
        width: 5px;
    }

    .button-container
        .emoji
        .EmojiPickerReact
        .epr-body::-webkit-scrollbar-thumb {
        /* background-color: #9a86f3; */
    }

    .button-container .emoji .EmojiPickerReact .emoji-categories button {
        filter: contrast(0);
    }
    .button-container
        .emoji
        .EmojiPickerReact
        .emoji-categories
        .epr-emoji-category-label {
        border: 1px solid #ccc;
    }
    /*  */
    .button-container .emoji .EmojiPickerReact .epr-search {
        background-color: transparent;
        /* border-color: #9a86f3; */
    }

    .button-container .emoji .EmojiPickerReact .emoji-group:before {
        background-color: #080420;
    }

    .input-container {
        width: 100%;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: #ffffff34;
    }
    .input-container input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #fff;
    }
    .input-container input {
        width: 90%;
        height: 60%;
        background-color: transparent;
        color: white;
        border: none;
        padding-left: 1rem;
        font-size: 1.2rem;
    }

    .input-container input::selection {
        /* background-color: #9a86f3; */
    }

    .input-container input:focus {
        outline: none;
    }

    .input-container button {
        padding: 0.3rem 2rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #9a86f3; */
        /* background-color: #9a86f3; */
        border: none;
    }

    .input-container button svg {
        font-size: 2rem;
        color: white;
    }

    .shadow-left-custom {
        box-shadow:
            0 2px 4px rgb(0 0 0 / 8%),
            0 4px 12px rgb(0 0 0 / 16%);
    }

    .grip-col-95 {
        grid-template-columns: 5% 95%;
    }

    @keyframes skeleton {
        0% {
            background-position: 150%;
        }
        to {
            background-position: -50%;
        }
    }
    .skeleton {
        border-radius: var(--rounded-box, 1rem);
        --tw-bg-opacity: 1;
        background-color: #e5e6e6;
        will-change: background-position;
        animation: skeleton 1.8s ease-in-out infinite;
        background-image: linear-gradient(
            105deg,
            transparent 0%,
            transparent 40%,
            #ffffff 50%,
            transparent 60%,
            transparent 100%
        );
        background-size: 200% auto;
        background-repeat: no-repeat;
        background-position-x: -50%;
    }
}
